:root {
    --p-color: hsla(0, 0%, 100%, 0.75);
    --light-bg-color: hsl(0, 0%, 95%);
    --sedan-bg-color: hsl(31, 77%, 52%);
    --suvs-bg-color: hsl(184, 100%, 22%);
    --lux-bg-color: hsl(179, 100%, 13%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.act-btn {
    padding: 10px 20px;
}
body {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}
header {
    padding-block: 20px;
}
.container {
    background-color: var(--light-bg-color);
    min-height: 100vh;
}
ul {
    list-style: none;
    margin: 0;
}
.nav-items {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.nav-link {
    font-size: larger;
    color: black;
}
.nav-link.active, .nav-link:hover {
    background-color: black;
    color: var(--light-bg-color);
}
a {
    text-decoration: none;
}
h1 {
    color: var(--light-bg-color);
}
.radius1 {
    border-radius: 10px 10px 0 0;
}
.radius2 {
    border-radius: 0 0 10px 10px;
}
.flex-item {
    max-width: 250px;
    margin: auto;
    padding: 2rem;
}
.flex-item > h1 {
    margin: 30px 0;
    font-family: 'Big Shoulders Display', cursive;
}
.sedans {
    background-color: var(--sedan-bg-color);
}
.sedans .learn-more {
    color: var(--sedan-bg-color);
}
.suvs {
    background-color: var(--suvs-bg-color);
}
.suvs .learn-more {
    color: var(--suvs-bg-color);
}
.luxury {
    background-color: var(--lux-bg-color);
}
.luxury .learn-more {
    color: var(--lux-bg-color);
}
.advert {
    color: var(--p-color);
    line-height: 180%;
    font-size: 13.5px;
}
.learn-more {
    margin-top: 50px;
    display: inline-block;
    background-color: var(--light-bg-color);
    border-radius: 25px;
}

/* grid section */
.grid-item {
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    margin: auto;
}
.grid-item:nth-of-type(1) {
    background-color: red;
}
.grid-item:nth-of-type(2) {
    background-color: orange;
}
.grid-item:nth-of-type(3) {
    background-color: green;
}
.grid-item:nth-of-type(4) {
    background-color: blue;
}
.grid-item:nth-of-type(5) {
    background-color: blue;
}
@media screen and (min-width: 700px) {
    .flex-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .radius1 {
        border-radius: 10px 0 0 10px;
    }
    .radius2 {
        border-radius: 0 10px 10px 0;
    }
    .flex-item {
        margin: 0;
    }

    /* grid section */
    .grid-items {
        display: grid;
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(4, 100px);
        gap: 10px;
        justify-content: center;
    }
    .grid-item {
        margin: 0;
        max-width: unset;
        min-width: auto;
        min-height: auto;
    }
    .grid-item:nth-of-type(1) {
        grid-column: 1 / span 6;
        grid-row: 1 / span 2;
    }
    .grid-item:nth-of-type(2) {
        grid-column: 7 / span 4;
        grid-row: 1 / span 2;
    }
    .grid-item:nth-of-type(3) {
        grid-column: 1/ span 4;
        grid-row: 3 / span 2;
    }
    .grid-item:nth-of-type(4) {
        grid-column: 5/ span 6;
        grid-row: 3 / span 1;
    }
    .grid-item:nth-of-type(5) {
        grid-column: 5/ span 6;
        grid-row: 4 / span 1;
    }
}